* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: gainsboro;
}
form {
  display: block;
}
.radioBtn {
  float: right;
  width: 5em;
}
label.radioBtn input {
  float: none;
}

h1 {
  text-align: center;
  padding: 10px 0;
}
form label {
  display: block;
  width: 30%;
  margin: auto;
  padding: 5px 0;
}

form label > input {
  border-radius: 5px;
  float: right;
}
form button {
  display: block;
  margin: auto;
  padding: 5px 0;
}
